body {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #eee;
}
th {
  font-weight: normal;
  color: #007bff;
  padding: 10px 15px;

}
td {
  color: #6495ED;
  border-top: 1px solid #007bff;
  padding: 10px 15px;

}
tr:hover td {
  background: #e8edff;
}

button{
font-size: 16px;
border-radius:4px;
margin-left:10px;
background-color: #007bff;
border: 2px solid #007bff;
color:#FFFFFF;
}
a{

text-decoration: none;
color: #6495ED;
margin-left:20px;
}
input[type="submit"] {
margin-top:8px;
margin-left:10px;
border-radius:4px;
background-color: #007bff;
border: 2px solid #007bff;
color:#FFFFFF;
font-size: 16px;
}
input[type="text"] {
margin-left:13%;
  height : 24px;
  border:none;
  border-radius:4px;
}
.welcomePage{
margin-left:33%;
}
.navigationBar{
display: inline;
}